{% load static %}


<script src="{% static 'vendors/base/vendor.bundle.base.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'vendors/progressbar.js/progressbar.min.js' %}"></script>
<script src="{% static 'vendors/chartjs-plugin-datalabels/chartjs-plugin-datalabels.js' %}"></script>
<script src="{% static 'vendors/justgage/raphael-2.1.4.min.js' %}"></script>
<script src="{% static 'vendors/justgage/justgage.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>

