{% load static %}

<div class="horizontal-menu">
    <nav class="navbar top-navbar col-lg-12 col-12 p-0">
        <div class="container-fluid">
            <div
                class="navbar-menu-wrapper d-flex align-items-center justify-content-between"
            >
                <ul class="navbar-nav navbar-nav-left"></ul>
                <div
                    class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"
                >
                    <a class="navbar-brand brand-logo" href="index.html"
                        ><img
                            src="{% static 'images/smarthealth102-logo.svg' %}"
                            alt="logo"
                    /></a>
                    <a class="navbar-brand brand-logo-mini" href="index.html"
                        ><img
                            src="{% static 'images/smarthealth102-logo.svg' %}"
                            alt="logo"
                    /></a>
                </div>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            data-toggle="dropdown"
                            id="profileDropdown"
                        >
                            <span class="nav-profile-name">Johnson</span>
                            <span class="online-status"></span>
                            <img
                                src="{% static 'images/faces/face28.png' %}"
                                alt="profile"
                            />
                        </a>
                        <div
                            class="dropdown-menu dropdown-menu-right navbar-dropdown"
                            aria-labelledby="profileDropdown"
                        >
                            <a class="dropdown-item">
                                <i class="mdi mdi-settings text-primary"></i>
                                Settings
                            </a>
                            <a class="dropdown-item">
                                <i class="mdi mdi-logout text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
                <button
                    class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
                    type="button"
                    data-toggle="horizontal-menu-toggle"
                >
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </div>
    </nav>

    {% include 'dashboard/containers/navbar/menu_navbar.html' %}
</div>
