<div class="content-wrapper">
    <div class="row">
        <div class="col-sm-12 flex-column d-flex stretch-card">
            <!-- Cards -->
            <div class="row">
                <div class="col-lg-3 d-flex grid-margin stretch-card">
                    <div class="card total-patient-border">
                        <div class="card-body">
                            <h2 class="text-dark mb-2 font-weight-bold">
                                2503
                            </h2>
                            <h4 class="card-title mb-2">Patients</h4>
                            <small class="text-muted">February 2020</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-flex grid-margin stretch-card">
                    <div class="card total-barangay-border">
                        <div class="card-body">
                            <h2 class="text-dark mb-2 font-weight-bold">
                                53
                            </h2>
                            <h4 class="card-title mb-2">Barangays</h4>
                            <small class="text-muted">February 2020</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-flex grid-margin stretch-card">
                    <div class="card total-city-border">
                        <div class="card-body">
                            <h2 class="text-dark mb-2 font-weight-bold">
                                5
                            </h2>
                            <h4 class="card-title mb-2">Cities</h4>
                            <small class="text-muted">February 2020</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-flex grid-margin stretch-card">
                    <div class="card total-doctors-border">
                        <div class="card-body">
                            <h2 class="text-dark mb-2 font-weight-bold">
                                3
                            </h2>
                            <h4 class="card-title mb-2">Doctors</h4>
                            <small class="text-muted">February 2020</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Welcome Message -->
            <div class="row">
                <div class="col-sm-6 mb-4 mb-xl-0">
                    <div class="d-lg-flex align-items-center">
                        <div>
                            <h3 class="text-dark font-weight-bold mb-2">
                                Hi, *User Here* back!
                            </h3>
                            <h6 class="font-weight-normal mb-2">
                                Welcome to Smart Health 102!
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Statistics  -->
            <div class="row mt-4">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <h4 class="card-title">
                                        Communicable Diseases
                                    </h4>
                                    <canvas id="salesDifference"></canvas>
                                    <p class="mt-3 mb-4 mb-lg-0">
                                        As of February 2020.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
