{% load static %}

<link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}" />
<link
    rel="stylesheet"
    href="{% static 'vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}"
/>
<link
    rel="stylesheet"
    href="{% static 'vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}"
/>